*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
background-color: steelblue;
padding: 10px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
nav a{
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
}
h1{
    color: steelblue;
    border-bottom: 2px solid #2138e1;
}
main img{
    float:right;
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
.grid {
    display:grid;
    align-items: center;
}
main{
    grid-column: 2/3;
margin: 1rem;
}
aside {
    position: relative;
    width: 20rem;
    color:#333;
    text-align: center;
    grid-column:1/2;
    grid-row:1/2;
}
aside h2{
    position: absolute;
    top: 15px;
    left:115px;
}
aside img{
    width: 200px;
    height: auto;
    }
footer{
    margin-top: 5px;
    border-top: 5px solid #aaddff;
    text-align: center;
}
/* Class Selectors */
.box{
    margin:1rem;
    border:1px solid lightgreen;
    background-color: lightgray;
    padding:1rem;
}
header, .grid, footer {
    max-width: 840px;
    margin:0 auto;
}