*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
background-color: steelblue;
padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: steelblue;
}
main img{
    float:right;
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
main{
    max-width: 840px;
}
aside {
    position: relative;
    width: 20rem;
    color:#333;
    text-align: center;
}
aside h2{
    position: absolute;
    top: 15px;
    left:115px;
}
aside img{
    width: 200px;
    height: auto;
    }
footer{
    margin-top: 5px;
    border-top: 5px solid #aaddff;
    text-align: center;
}
/* Class Selectors */
.box{
    margin:1rem;
    border:1px solid lightgreen;
    background-color: lightgray;
    padding:1rem;
}
